@tailwind base;
@tailwind components;
@tailwind utilities;

.u-clock {
    @apply -md:w-full text-center -md:mx-[50px] bg-main1 text-primary border-[4px] border-main3 drop-shadow-secondary p-[15px] md:py-[40px] md:px-[60px] rounded-[20px] text-[2em] lg:text-[5em];
}

.u-sidebar {
    --tw-space-y-reverse: 0;
    margin-top: calc(.75rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(.75rem * var(--tw-space-y-reverse));
}

.c-logo {
    @apply drop-shadow-primary;
}

.c-lang[active] {
    @apply bg-main1 text-primary;
}

.c-logo__container {
    @apply w-[40px] h-[40px] block;
}
