@tailwind base;
@tailwind components;
@tailwind utilities;

.u-clock {
    @apply bg-main1 text-primary border-[4px] border-primary drop-shadow-secondary;

    padding: 20px;
    border-radius: 20px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 5em;
}

.u-sidebar {
    --tw-space-y-reverse: 0;
    margin-top: calc(.75rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(.75rem * var(--tw-space-y-reverse));
}

.c-logo {
    @apply drop-shadow-primary;
}

.c-logo__container {
    width: 40px;
    height: 40px;
    display: block;
}
