.datatable tbody,
.datatable thead,
.datatable tfoot,
.datatable thead tr,
.datatable tbody tr,
.datatable tfoot tr,
.datatable thead tr th,
.datatable tbody tr td,
.datatable tfoot tr td {
    /*border: 1px solid rgb(55 65 81) !important;*/
    /*border-radius: .375rem !important;*/
}

.dt-container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.dt-container div:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

.dt-layout-row {
    grid-column: 1/3;
}

.dt-layout-start {
    display: flex;
    gap: 20px;
    align-items: center;
}

.dt-layout-row label select {
    @apply border-third border-[1px] !important;
    border-radius: .375rem !important;
    min-width: 80px;
}

.dt-layout-row label select {
    @apply text-primary bg-main2 !important;
}

.dt-length label {
    display: flex;
    gap: 20px;
    align-items: center;
}

.dt-layout-end {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.dt-search {
    display: flex;
    gap: 20px;
    align-items: center;
}

.dt-search input {
    @apply border-third border-[1px] !important;

    border-radius: .375rem !important;
    min-width: 80px;
}

.dt-search input {
    @apply text-primary bg-main2 !important;
}

.dt-container .dataTables_info {
    grid-column: 1/3;
}

.dt-container .dt-paging {
    grid-column: 1/3;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.dt-container .dt-paging span {
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.dt-container .dt-paging .dt-paging-button {
    @apply bg-main2 text-primary border-third border !important;

    padding: 0.5rem 1rem !important;
    border-radius: 0.375rem !important;
}

.dt-container .dt-paging .dt-paging-button.current {
    @apply bg-main3 text-main3 !important;
}

.dt-container .dt-paging .dt-paging-button:hover {
    @apply bg-main2 text-primary !important;
}

.dt-layout-end {
    justify-content: center !important;
    gap: 15px !important;
}

.dt-paging nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

table.datatable thead tr th, table.datatable tbody tr td, table.datatable tfoot tr td {
    text-align: left !important;
}

@media screen and (max-width: 640px) {
    .dt-container {
        grid-template-columns: 1fr;
    }

    .dt-layout-row {
        grid-column: 1/3;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .dt-container div:nth-child(1) {
        display: flex;
        justify-content: center;
    }

    .dt-layout-end {
        justify-content: center !important;
        gap: 15px !important;
    }

    .dt-container .dataTables_info {
        grid-column: 1/2;
    }

    .dt-container .dt-paging {
        grid-column: 1/2;
    }

    .dt-paging nav {
        gap: 10px;
    }
}
