.select2-container {
    @apply border border-third;
    border-radius: .375rem !important;
}

.select2-selection__rendered {
    @apply bg-main2 text-primary !important;
}
.select2-container--default .select2-selection--single {
    @apply bg-main2 text-primary !important;

    border: none !important;
    padding: .5rem .75rem !important;
    height: 100% !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 8px !important;
}

.u-select2-create .select2 {
    width: 100% !important;
}

@media screen and (max-width: 640px) {
    .select2-container {
        width: 100% !important;
    }
}
