.select2-container {
    @apply border border-third w-full !important;
    border-radius: .375rem !important;
}

.select2-selection__rendered {
    @apply bg-main2 text-primary !important;
}
.select2-container--default .select2-selection--single {
    @apply bg-main2 text-primary !important;

    border: none !important;
    padding: .5rem .75rem !important;
    height: 100% !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 8px !important;
}
.select2-container--default .select2-selection--multiple {
    @apply bg-main2 text-primary !important;

    border: none !important;
    padding: 10px 20px !important;
    height: 100% !important;
}
.select2-container .select2-search--inline .select2-search__field {
    height: 22px !important;
}
.u-select2-create .select2 {
    width: 100% !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    padding: 10px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background: var(--color-main3) !important;
    border-color: #FFFFFF !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #FFFFFF !important;
    border-color: #FFFFFF !important;
}

.select2.select2-container.select2-container--default.select2-container--disabled {
    opacity: .5 !important;
}

@media screen and (max-width: 640px) {
    .select2-container {
        width: 100% !important;
    }
}
