.select2-container {
    border: 1px solid rgb(55 65 81 / var(--tw-border-opacity, 1)) !important;
    border-radius: .375rem !important;
}

.select2-selection__rendered {
    --tw-bg-opacity: 1;

    background-color: #1c1d20 !important;
    color: rgb(209 213 219 / var(--tw-text-opacity, 1)) !important;

    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05) !important;
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}
.select2-container--default .select2-selection--single {
    --tw-bg-opacity: 1;

    background-color: #1c1d20 !important;
    color: rgb(209 213 219 / var(--tw-text-opacity, 1)) !important;
    border: none !important;
    padding: .5rem .75rem !important;
    height: 100% !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 8px !important;
}
